{% assign menu = site.data.menu %}

{% if menu %}
  <nav class="site-navigation" role="navigation">
    <ul>
      <li>
        <a href="{{ '/' | prepend: site.baseurl }}">
          Home
        </a>
      </li>
      {% for item in site.data.menu %}
      <li {% if page.url == item.url %}class="active"{% endif %}>
        {% if item.url contains 'http' %}
          <a href="{{ item.url }}">
            {% t item.title %}
          </a>
        {% else %}
          <a href="{{ item.url | prepend: site.baseurl }}">
            {% t item.title %}
          </a>
        {% endif %}
      </li>
      {% endfor %}
      <li>
        {% if site.defaultLang == "de" %}
          {% if site.lang == "de" %}
            {% capture english %}{{ site.baseurl_root }}/en{{ page.url}}{% endcapture %}
            <a href="{{ english }}" >{% t global.english %}</a>
          {% elsif site.lang == "en" %}
            {% capture german %}{{ site.baseurl_root }}{{ page.url }}{% endcapture %}
            <a href="{{ german }}" >{% t global.german %}</a>
          {% endif %}
        {% elsif site.defaultLang == "en" %}
          {% if site.lang == "de" %}
            {% capture english %}{{ site.baseurl_root }}{{ page.url}}{% endcapture %}
            <a href="{{ english }}" >{% t global.english %}</a>
          {% elsif site.lang == "en" %}
            {% capture german %}{{ site.baseurl_root }}/de{{ page.url }}{% endcapture %}
            <a href="{{ german }}" >{% t global.german %}</a>
          {% endif %}
        {% endif %}  
      </li>
    </ul>
  </nav>
{% endif %}