.site-masthead {
  box-sizing: border-box;
  position: relative;
  text-align: center;
  padding: 1rem 1rem 0;
}

.site-masthead h1 {
  font-size: clamp(3rem, 2rem + 7vw, 6rem);
  font-weight: 500;
  letter-spacing: -0.015em;
  line-height: 1;
  margin: .35em auto 0;
  padding: 0 1rem;
}

.site-masthead h2 {
  color: var(--text-muted);
  font-family: $font-sans;
  font-weight: 400;
  font-size: clamp(1rem, .9rem + .5vw, 1.3rem);
  letter-spacing: .04em;
  margin: .75em auto 0;
  padding: 0 1rem;
}
